<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<script src="js/jquery-3.0.0.min.js"></script>
<style>
    td {
        width: 100px;
        border: 1px solid black;
    }
</style>
<body>
<table>
    <tr>
        <td>id</td>
        <td>名称</td>
        <td>成色</td>
        <td>备注</td>
        <td>价格</td>
        <td>分类</td>
        <td>数量</td>
        <td>图片</td>
        <td>交易方式</td>
    </tr>
    <tr th:each="shopInformation:${shopInformations}">
        <td th:text="${shopInformation.id}"></td>
        <td th:text="${shopInformation.name}"></td>
        <td th:text="${shopInformation.level}"></td>
        <td th:text="${shopInformation.remark}"></td>
        <td th:text="${shopInformation.price}"></td>
        <td th:with="sort='sort'+${shopInformation.sort}"
            th:text="${#httpServletRequest.getSession().getAttribute(sort)}"></td>
        <td th:text="${shopInformation.quantity}"></td>
        <td th:with="shopPicture='shopPicture'+${shopInformation.id}">
            <img th:src="${#httpServletRequest.getSession().getAttribute(shopPicture)}" alt="can`t show!!!"
                 style="width: 80%"/>
        </td>
        <td th:if="${shopInformation.transaction eq 1}">在线</td>
        <td th:if="${shopInformation.transaction eq 0}">线下</td>
    </tr>
</table>
<select class="allKinds">
    <option th:each="ob : ${allKinds}" th:value="${ob.id}" th:text="${ob.name}"></option>
</select>
<select class="classification">
    <option th:each="ob : ${classification}" th:value="${ob.id}" th:text="${ob.name}"></option>
</select>
<select class="specific">
    <option th:each="ob : ${specific}" th:value="${ob.id}" th:text="${ob.name}"></option>
</select>
<script src="js/home.js" />
</body>

</html>