<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C2C二手交易平台</title>
    <link rel="icon" href="/img/page_icon.png"/>
    <link href="/css/home_page/home_page_circle.css" rel="stylesheet"/>
    <link href="/css/home_page/header_and_nav.css" rel="stylesheet"/>
    <link href="/css/home_page/bottom_ifon_and_feature.css" rel="stylesheet"/>
    <script src="/js/jquery-1.3.2.min.js"></script>
    <script src="/js/home/home_page_circle.js"></script>
    <script src="/js/home/header_model_js.js"></script>
</head>
<body>
<!--整体结构很明确，就是轮播图的位置用了绝对位置感觉很不好，
然后接下来那些都用了绝对位置，很尴尬-->
<header>
    <span class="short_nav"></span>
    <div class="home_icon">
        <a href="#" style="text-decoration: none;color: white">C2C</a>
    </div>
    <input type="text" placeholder="Search" name="search" class="nav_search_input"/>

    <span class="search_icon"></span>
    <span class="user_icon"></span>
    <span class="login_or_register_string">
        <!--判断是否有登陆，两者相互替换-->
        <a href="/" th:if="${userInformation.username}==null">登陆</a>
        <a href="/"  th:if="${userInformation.username}==null">注册</a>
        <a href="/personal_info" class="user_name_a" th:if="${userInformation.username!=null}" th:text="${userInformation.username}"></a>
    </span>
</header>
<div class="short_nav_show">
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="/mall_page">商城</a></li>
        <li><a href="/publish_product">发布商品</a></li>
        <li><a href="/require_product">求购商品</a></li>
        <li><a href="/shopping_cart">我的购物车</a></li>
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</div>
<nav class="my_nav">
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="/mall_page">商城</a></li>
        <li><a href="/publish_product">发布商品</a></li>
        <li><a href="/require_product">求购商品</a></li>
        <li><a href="/shopping_cart">我的购物车</a></li>
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</nav>
<div class="personal_nav">
    <ul>
        <li><a href="personal_info">个人信息</a></li>
        <li><a href="/my_publish_product_page">我发布的商品</a></li>
        <li><a href="/my_require_product_page">我求购的商品</a></li>
    </ul>
</div>
<div class="my_slider">
    <div class="my_slide">
        <h1>welcome to 1</h1>
        <p>
            1When she reached the first hills of the Italic Mountains,
            she had a last view back on the skyline of her hometown Bookmarksgrove,
            the headline of Alphabet Village and the subline of her own road, the Line</p>
        <div class="slide_img">
            <img src="/img/home/p4.jpeg" width="60%"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>welcome to 2</h1>
        <p>
            2When she reached the first hills of the Italic Mountains,
            she had a last view back on the skyline of her hometown Bookmarksgrove,
            the headline of Alphabet Village and the subline of her own road, the Line</p>
        <div class="slide_img">
            <img src="/img/home/p10.jpg" width="60%"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>welcome 3</h1>
        <p>
            3When she reached the first hills of the Italic Mountains,
            she had a last view back on the skyline of her hometown Bookmarksgrove,
            the headline of Alphabet Village and the subline of her own road, the Line</p>
        <div class="slide_img">
            <img src="img/home/p5.jpeg" width="60%"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>welcome to 4</h1>
        <p>
            4When she reached the first hills of the Italic Mountains,
            she had a last view back on the skyline of her hometown Bookmarksgrove,
            the headline of Alphabet Village and the subline of her own road, the Line</p>
        <div class="slide_img">
            <img src="/img/home/p7.jpg" width="60%"/>
        </div>
    </div>
    <div class="my_slide current">
        <h1>welcome to 5</h1>
        <p>
            5When she reached the first hills of the Italic Mountains,
            she had a last view back on the skyline of her hometown Bookmarksgrove,
            the headline of Alphabet Village and the subline of her own road, the Line</p>
        <div class="slide_img">
            <img src="/img/home/p9.png" width="60%"/>
        </div>
    </div>
    <div class="left_border">
        <span class="left_turn"></span>
    </div>
    <div class="right_border">
        <span class="right_turn"></span>
    </div>
</div>
<div class="featured_products">
    <h2>精选的商品</h2>
    <div class="product" th:each="o:${shopInformationBean}">
        <img src="/img/home/feature_prodects/cont1.jpg" width="100%" th:src="${o.image}"/>
        <input class="product_id" type="hidden" th:value="${o.id}"/>
        <span class="product_name" th:text="${o.name}">Big block Lether Bag</span><br/>
        <span class="product_cost" th:text="'$'+${o.price}">$350.00</span><br/><br/>
        <span class="buy product_1">加入购物车</span>
    </div>
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont2.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_2">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont4.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_3">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont4.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag<br/></span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_4">Buy</span>-->
    <!--</div>-->
    <!--<div class="product">-->
        <!--<img src="img/home/feature_prodects/cont1.jpg" width="100%"/>-->
        <!--<span class="product_name">Big block Lether Bag</span>-->
        <!--<span class="product_cost">$350.00</span><br/><br/>-->
        <!--<span class="buy product_5">Buy</span>-->
    <!--</div>-->
</div>
<div class="home_page_info">
    <div class="bottom_info">
        <h2>
            About Us
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris egestas orci et blandit dictum. Interdum et malesuada fames ac ante
            ipsum primis in faucibus Quisque posuere diam et est hendrerit,
            eget sodales lectus.</p>
    </div>
    <div class="bottom_info">
        <h2>
            Our Blog
        </h2>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Mauris egestas
            orci et blandit dictum. Interdum et malesuada fames ac ante ipsum
            primis in faucibus Quisque posuere diam et est hendrerit,
            eget sodales lectus.</p>
    </div>
    <div class="bottom_info">
        <h2>
            Our Blog
        </h2>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Mauris egestas
            orci et blandit dictum. Interdum et malesuada fames ac ante ipsum
            primis in faucibus Quisque posuere diam et est hendrerit,
            eget sodales lectus.</p>
    </div>
</div>
<footer>
    <p>Copyright © 2014.Company name All rights reserved.</p>
</footer>
</body>
</html>