.temp_content {
    width: 99%;
    min-width:800px;
    position: absolute;
    display: inline-block;
    top: 20%;
    padding: 0;
}
.product_content_div {
    width: 90%;
    margin-top: 3%;
    margin-left: 10%;
    display: block;
}
.detail_product {
    width: 15%;
    height: 460px;
    float: left;
    margin: 5% 5%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    line-height: 3em;
    /*z-index: 1000;*/
}
.detail_product .product_img_div{
    display: block;
    vertical-align:middle;
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
}
.detail_product .detail_product_name {
    color: rgba(0, 0, 0, 0.62);
    font-size: 1em;
    display: inline-block;
    overflow-x: hidden;
    cursor: pointer;
    margin-top: 2em;
}
.detail_product .detail_product_name:hover{
    color: slateblue;
}

.detail_product .detail_product_cost {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.8em;
    display: inline-block;
    overflow-x: hidden;
}
.detail_product img {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 2em;
    width: 100%;
    max-height: 196px;
}
.detail_type {
    color: rgba(0, 0, 0, 0.62);
    font-size: 1em;
}
div.pagination_div {
    display: block;
    width: 40%;
    height: 36px;
    clear: both;
    margin-bottom: 5%;
    margin-left: 35%;
}

.pagination_div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination_div ul li {
    float: left;
}
.pagination_div .pagination_lt,.pagination_div .pagination_gt{
    float: left;
}
.pagination_div .pagination_lt,.pagination_div ul li,
.pagination_div .pagination_gt {
    width: 6%;
    height: 36px;
    background-color: white;
    margin-left: 4%;
    font-size: 1.5em;
    color: rgba(0,0,0,0.54);
    text-align: center;
    vertical-align: middle;
    padding-top: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.pagination_div .pagination_lt:hover,.pagination_div ul li:hover,
.pagination_div .pagination_gt:hover {
    cursor: pointer;
    background-color: slateblue;
}

footer {
    width: 96%;
    background-color: slateblue;
    box-shadow: 4px 2px 10px #888888;
    border-radius: 10px;
    height: 80px;
    margin-left: 2%;
}
footer p {
    padding-top: 35px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 1.2em;
}
.detail_product {
    position: relative;
}

.show_img {
    max-height: 180px;
    max-width: 100%;
    transition: opacity 0.35s, transform 0.35s;
    opacity: 1;
    cursor: auto;
}

.detail_product:hover .show_img {
    opacity: .5;
}

.detail_product:hover .show_tip {
    opacity: 1;
}

.show_tip {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: auto;
    width: 95%;
}