<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.dao.AdminInformationMapper">
    <resultMap id="BaseResultMap" type="com.wsk.pojo.AdminInformation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ano" property="ano" jdbcType="CHAR"/>
        <result column="password" property="password" jdbcType="CHAR"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">
        admininformation
    </sql>

    <sql id="Base_Column_List">
        id, ano, password, modified
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from<include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByNo" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        FROM<include refid="table"/>
        where ano = #{ano,jdbcType=INTEGER}
        limit 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM<include refid="table"/>
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wsk.pojo.AdminInformation">
        INSERT INTO<include refid="table"/> (id, ano, password, modified)
        VALUES (#{id,jdbcType=INTEGER}, #{ano,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{modified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.wsk.pojo.AdminInformation">
        insert into<include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ano != null">
                ano,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ano != null">
                #{ano,jdbcType=CHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsk.pojo.AdminInformation">
        update<include refid="table"/>
        <set>
            <if test="ano != null">
                ano = #{ano,jdbcType=CHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsk.pojo.AdminInformation">
        UPDATE
        <include refid="table"/>
        SET ano      = #{ano,jdbcType=CHAR},
            password = #{password,jdbcType=CHAR},
            modified = #{modified,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>