<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.dao.BoughtShopMapper" >
  <resultMap id="BaseResultMap" type="com.wsk.pojo.BoughtShop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
  </resultMap>

  <sql id="table">
    boughtshop
  </sql>

  <sql id="all" >
    id, modified, state, uid, sid, quantity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="all" />
    from<include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getCounts" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
    count(id)
    from<include refid="table"/>
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectByUid" resultMap="BaseResultMap">
    select
    <include refid="all"/>
    from<include refid="table"/>
    where uid = #{0}
    limit #{1},10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from<include refid="table"/>
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsk.pojo.BoughtShop" >
    insert into<include refid="table"/> (id, modified, state,
      uid, sid, quantity)
    values (#{id,jdbcType=INTEGER}, #{modified,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wsk.pojo.BoughtShop" >
    insert into<include refid="table"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsk.pojo.BoughtShop" >
    update<include refid="table"/>
    <set >
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsk.pojo.BoughtShop" >
    update
    <include refid="table"/>
    set modified = #{modified,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>