<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.dao.ClassificationMapper">
    <resultMap id="BaseResultMap" type="com.wsk.pojo.Classification">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="aid" property="aid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">
        classification
    </sql>

    <sql id="all">
        id, name, modified, aid
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="all"/>
        from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByAid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="all"/>
        from
        <include refid="table"/>
        where aid = #{aid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wsk.pojo.Classification">
        insert into
        <include refid="table"/>
        (id, name, modified,
        aid)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP},
        #{aid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.wsk.pojo.Classification">
        insert into
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="aid != null">
                aid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsk.pojo.Classification">
        update
        <include refid="table"/>
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="aid != null">
                aid = #{aid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsk.pojo.Classification">
        update
        <include refid="table"/>
        set name = #{name,jdbcType=VARCHAR},
        modified = #{modified,jdbcType=TIMESTAMP},
        aid = #{aid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>