<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.dao.GoodsCarMapper">
    <resultMap id="BaseResultMap" type="com.wsk.pojo.GoodsCar">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="sid" property="sid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="display" property="display" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">
        goodscar
    </sql>

    <sql id="all">
        id, modified, sid, uid, quantity, display
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="all"/>
        from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="all"/>
        from
        <include refid="table"/>
        where uid = #{uid,jdbcType=INTEGER} and display=1 order by id DESC
        limit 12
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wsk.pojo.GoodsCar">
        insert into
        <include refid="table"/>
        (id, modified, sid,
        uid, quantity, display
        )
        values (#{id,jdbcType=INTEGER}, #{modified,jdbcType=TIMESTAMP}, #{sid,jdbcType=INTEGER},
        #{uid,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{display,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wsk.pojo.GoodsCar">
        insert into
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="display != null">
                display,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="display != null">
                #{display,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsk.pojo.GoodsCar">
        update
        <include refid="table"/>
        <set>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="display != null">
                display = #{display,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsk.pojo.GoodsCar">
        update
        <include refid="table"/>
        set modified = #{modified,jdbcType=TIMESTAMP},
        sid = #{sid,jdbcType=INTEGER},
        uid = #{uid,jdbcType=INTEGER},
        quantity = #{quantity,jdbcType=INTEGER},
        display = #{display,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>