<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <link rel="icon" href="/img/page_icon.png"/>
    <link rel="stylesheet" href="/css/home_page/header_and_nav.css"/>
    <link rel="stylesheet" href="/css/personal/personal_info.css"/>
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/home/header_model_js.js"></script>
    <script src="/js/personal_info.js">
    </script>
</head>
<body>
<header>
    <span class="short_nav"></span>
    <div class="home_icon">
        <a href="/" style="text-decoration: none;color: white">C2C</a>
    </div>
    <input type="text" placeholder="Search" name="search" class="nav_search_input"/>
    <span class="search_icon"></span>
    <span class="user_icon"></span>
    <!--修改为用户名-->
    <span class="login_or_register_string">
        <!--<a href="/login_page.html">登陆</a> ， <a href="/login_page.html">注册</a>-->
        <a href="/personal_info" class="user_name_a" th:if="${userInformation.username!=null}" th:text="${userInformation.username}"></a>
    </span>
</header>
<div class="short_nav_show">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/mall_page">商城</a></li>
        <li><a href="/require_mall">求购商城</a></li>
        <li><a href="/publish_product">发布商品</a></li>
        <li><a href="/require_product">发布求购信息</a></li>
        <li><a href="/shopping_cart">我的购物车</a></li>
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</div>
<nav class="my_nav">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/mall_page">商城</a></li>
        <li><a href="/require_mall">求购商城</a></li>
        <li><a href="/publish_product">发布商品</a></li>
        <li><a href="/require_product">发布求购信息</a></li>
        <li><a href="/shopping_cart">我的购物车</a></li>
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</nav>
<div class="personal_nav">
    <ul>
        <li><a href="personal_info">个人信息</a></li>
        <li><a href="/my_publish_product_page">我发布的商品</a></li>
        <li><a href="/my_require_product_page">我求购的商品</a></li>
        <li><a class="login_out" href="/logout">退出</a></li>
    </ul>
</div>
<div style="display: none" th:if="${message}!=null" class="show_tip" th:text="${message}" th:value="${message}">
</div>
<input type="hidden" class="token" th:value="${token}"/>
<div class="top_content">
    <div class="publish_product_div">
        <div id="accordion">
            <h3>用户名：<span class="username_span" th:text="${userInformation.username}">123456</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>用户名：</span><input type="text" class="userName"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>真实姓名：<span class="realname_span" th:text="${userInformation.realname}"> &nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>真实姓名：</span><input type="text" class="realName"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>性别：<span class="sex_span" th:text="${userInformation.gender}">男</span></h3>
            <div class="info_content">
                <div class="first_info sex_info">
                    <span>性别：</span><input class="gender" type="radio" name="sex_choose" value="1" checked="checked"/>男
                    <input class="gender" type="radio" name="sex_choose" value="2"/>女
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>学号：<span class="sno_span" th:text="${userInformation.sno}">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>学号：</span><input type="text" class="sno"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>宿舍号：<span class="dormitory_span" th:text="${userInformation.dormitory}">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>宿舍号：</span><input type="text" class="dormitory"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>Email：<span class="email_span">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>Email：</span><input type="text" class="email"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2014.Company name All rights reserved.</p>
    </footer>
</div>
</body>
</html>