<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <link rel="icon" href="/img/page_icon.png"/>
    <link rel="stylesheet" href="/css/home_page/header_and_nav.css"/>
    <link rel="stylesheet" href="/css/personal/personal_info.css"/>
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/home/header_model_js.js"></script>
    <script src="/js/personal_info.js">
    </script>
</head>
<body>
<header th:include="header :: copy"></header>
<div th:include="short_nav_show :: short_nav_show" class="short_nav_show"></div>
<nav th:include="my_nav :: my_nav" class="my_nav"></nav>
<div th:include="personal_nav :: personal_nav" class="personal_nav"></div>
<div style="display: none" th:if="${message}!=null" class="show_tip" th:text="${message}" th:value="${message}">
</div>
<input type="hidden" class="token" th:value="${token}"/>
<div class="top_content">
    <div class="publish_product_div">
        <div id="accordion">
            <h3>用户名：<span class="username_span" th:text="${userInformation.username}">123456</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>用户名：</span><input type="text" class="userName"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>真实姓名：<span class="realname_span" th:text="${userInformation.realname}"> &nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>真实姓名：</span><input type="text" class="realName"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>性别：<span class="sex_span" th:text="${userInformation.gender}">男</span></h3>
            <div class="info_content">
                <div class="first_info sex_info">
                    <span>性别：</span><input class="gender" type="radio" name="sex_choose" value="1" checked="checked"/>男
                    <input class="gender" type="radio" name="sex_choose" value="2"/>女
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>学号：<span class="sno_span" th:text="${userInformation.sno}">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>学号：</span><input type="text" class="sno"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>宿舍号：<span class="dormitory_span" th:text="${userInformation.dormitory}">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>宿舍号：</span><input type="text" class="dormitory"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
            <h3>Email：<span class="email_span">&nbsp;</span></h3>
            <div class="info_content">
                <div class="first_info">
                    <span>Email：</span><input type="text" class="email"/>
                    <span class="reqiure_enter"> 必须填写此字段</span>
                </div>
                <button class="update_button">确认修改</button>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2017.Company name All rights reserved.<a href="/"></a></p>
    </footer>
</div>
</body>
</html>